.innercol9Item
{
  height: fit-content;
  width: fit-content;
  opacity: 0.6;
  border-radius: 30px;
  border: 20px;
}
.centerItem
{
  padding-right: 20%;
  background: rgba(88, 86, 86, 0);
  padding-left: 20%;
  float: none;
  display: grid;
}
.tech
{
 height: fit-content;
 width: fit-content;
 padding: 5px;
}

.profilePic
{
  align-items:center;
  height: fit-content;
  width: fit-content;
}
.ppimg
{
  border-width: 20px;
  border-radius: 500px;
  height: auto;
  width: 300px;
}
.img
{
  width:100px;height:100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.myCards
{
  height: 80px;
  width: 80px;
}
.Particle
{
  position: fixed !important;
  height: 100%;
  width: 100%;
}