.leftSide
{
 height: 100px; width: 100px; margin: 0;
},
.header{
  height: 100px; width: 100px; margin: 0; padding: 20px;
}
.img
{
  width:200px;height:200px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.flipcard {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flipcardinner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipcard:hover .flipcardinner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipcardfront, .flipcardback {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flipcardfront {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flipcardback {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
