

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bodyDark {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: fit-content;
}
.bodyLight {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: fit-content;
}